{{ $p := .Prefix }}
<!--DOCTYPE html-->
<html lang="ja">
 <head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/ebooks.css">
  <title>検索結果</title>
 </head>

 <body>
  <div class="navigation">
   <a class="navigation" href="{{$p}}/index.html"><div class="navbuttonb">TOP<br /></div></a>
  <div class="searchbox" style="float: right">
  <form action="search" method="post" >
   &#x1F50D;<input type="text" name="query" />
  </form>
  </div>
  </div>
<h1>検索結果</h1>

<h2>一致する作者:</h2>
<div class="authorlistsection">
{{ range .Authors }}
<a href="{{$p}}/authors/author_{{.AuthorID}}.html">
<div class="authorlistbutton">
<span class="rt">{{.FullNameY}}</span><br />
<span class="rb">{{.FullName}}</span>
</div>
</a>
{{end}}
</div>

 <h2 style="margin-top: 2em">作品名が一致する作品:</h2>
<div class="titlelist">
{{ range .Titles }}
{{ $x := . }}
<a href="{{$p}}/books/book_{{.AuthorID}}_{{.BookID}}.html" class="titlelist">
 <div class="booklink">
  <span class="title">{{$x.Title}} {{.Subtitle}}</span><br />
	<span class="note">作者:	{{$x.FullName}}</span><br />
 </div>
</a>
{{end}}
</div>



<h2 style="margin-top:2em">分類が一致する作品:</h2>
<div class="titlelist">
{{ range .Categories }}
{{ $x := . }}
<a href="{{$p}}/books/book_{{.AuthorID}}_{{.BookID}}.html" class="titlelist">
 <div class="booklink">
  <span class="title">{{$x.Title}} {{.Subtitle}}</span><br />
  <span class="title">作者:{{$x.FullName}}</span><br />
 
 </div>
</a>
{{end}}
</div>
<p></p>
 </body>
</html>
