
p {
 margin: 0em;
padding: 0em;
}

ruby {
 ruby-align: space-around;
}

ruby.right {
 ruby-position: over;
}

ruby.left {
 ruby-position: under;
}

figure {
 writing-mode: horizontal-tb;
}

.metadata{
 margin-left: 6em;
}

.alignBottom {
 display: block;
 text-align: end;
}

.flushBottom{
 display: block;
 text-align: end;
}

.topMargin1 {
 margin-top: 1em;
}

.topMargin2 {
 margin-top: 2em;
}

.topMargin3 {
 margin-top: 3em;
}

.topMargin4 {
 margin-top: 4em;
}

.topMargin5 {
 margin-top: 5em;
}

.topMargin6 {
 margin-top: 6em;
}

.topMargin7 {
 margin-top: 7em;
}

.topMargin8 {
 margin-top: 8em;
}

.topMargin9 {
 margin-top: 9em;
}

.topMargin10 {
 margin-top: 10em;
}

.bottomMargin0 {
 margin-top: 1em;
}

.bottomMargin1 {
 margin-bottom: 1em;
}

.bottomMargin2 {
 margin-bottom: 2em;
}

.bottomMargin3 {
 margin-bottom: 3em;
}

.bottomMargin4 {
 margin-bottom: 4em;
}

.bottomMargin5 {
 margin-bottom: 5em;
}

.bottomMargin6 {
 margin-bottom: 6em;
}

.bottomMargin7 {
 margin-bottom: 7em;
}

.bottomMargin8 {
 margin-bottom: 8em;
}

.bottomMargin9 {
 margin-bottom: 9em;
}

.bottomMargin10 {
 margin-bottom: 10em;
}

.textIndent1 {
 text-indent: 1em;
}

.textIndent2 {
 text-indent: 2em;
}

.textIndent3 {
 text-indent: 3em;
}

.textIndent4 {
 text-indent: 4em;
}

.textIndent5 {
 text-indent: 5em;
}

.textIndent6 {
 text-indent: 6em;
}

.textIndent7 {
 text-indent: 7em;
}

.textIndent8 {
 text-indent: 8em;
}

.textIndent9 {
 text-indent: 9em;
}

.textIndent-1 {
 text-indent: -1em;
}

.textIndent-2 {
 text-indent: -2em;
}

.textIndent-3 {
 text-indent: -3em;
}

.textIndent-4 {
 text-indent: -4em;
}

.textIndent-5 {
 text-indent: -5em;
}

.textIndent-6 {
 text-indent: -6em;
}

.textIndent-7 {
 text-indent: -7em;
}

.textIndent-8 {
 text-indent: -8em;
}

.textIndent-9 {
 text-indent: -9em;
}

.inlineheader {
 display: inline;
}

.windowheader {
 display: inline;
}

.kunten {
 font-size: x-small;
}

.okurigana {
 font-size: x-small;
}

.underline {
 text-decoration-line: underline;
}

.overline {
 text-decoration-line: overline;
}

.solid {
 text-decoration-style: solid;
}

.double {
 text-decoration-style: double;
}

.dotted {
 text-decoration-style: dotted;
}

.dashed {
 text-decoration-style: dashed;
}

.wavy {
 text-decoration-style: wavy;
}

.bold {
 font-weight: bold;
}

.italic {
 font-style: italic;
}

.illustration {
}



.italic {
 font-style: italic;
}

.illustration {
}

.warichu {
 display: inline-block;
 vertical-align: text-bottom; 
 line-height: 1.2;
 font-size: small;
 width: 2em;
}

/*For Mozilla's Gecko engine.
 */
@-moz-document url-prefix() {
 .warichu {
  vertical-align: middle;
 }
}

.horizontal {
 text-orientation: upright;
}

.sideways {
text-orientation: sideways;
}

.sectionLevel {
 font-weight: bold;
}

.subsectionLevel {
 font-weight: bold;
}

.subsubsectionLevel {
 font-weight: bold;
}

.superscript {
}

.subscript {
}

.centering {
 margin-right: 35%;
}

.pageBreak {
 break-before: always;
}

.emphRight {
 font-style: normal;
 text-emphasis-position: under right;
}

.emphLeft {
 font-style: normal;
 text-emphasis-position: over left;
}

.goma {
 text-emphasis-style: sesame;
}

.shirogoma {
 text-emphasis-style: open sesame;
}

.sankaku {
 text-emphasis-style: triangle;
}

.shirosankaku {
 text-emphasis-style: open triangle;
}

.maru {
 text-emphasis-style: circle;
}

.shiromaru {
 text-emphasis-style: open circle;
}

.nijuumaru {
 text-emphasis-style: open double-circle;
}

.janome {
 text-emphasis-style: double-circle;
}

.batsu {
 text-emphasis-style: '✕';
}

.framed {
 padding: 1em;
 border: solid;
}

.toc {
 list-style-type: none;
}

.section {
 font-size: x-large;
 font-weight: bold;
 list-style-type: none;
}

.subsection {
 font-size: large;
 font-weight: bold;
 list-style-type: none;
}

.subsubsection {
 font-size: normal;
 font-weight: bold;
 list-style-type: none;
}

.annotation {
 font-size: small;
}

h1.title {
 font-size: xx-large;
 margin-top: 1em;
}

h2.subtitle {
 font-size: x-large;
 margin-top: 2em;
}

h2.contributor {
 font-size: x-large;
 text-align:  end;
}

footer {
 page-break-before: always;
}

