{{/* author */}}
{{ $x := index .Books 0 }}

 <div class="sitenavigation">

 <div><a href="#index.html" class="navigation"><div class="sitetitle">青空文庫ブラウザ</div></a></div>

<div><a href="#recent1.html" class="navigation"><div class="sitenavbutton">新着順</div></a></div>

<div> <div class="sitenavbutton" id="rndbk">ランダムな一冊</div></div>

<div class="searchbox"> 
   &#x1F50D;<input type="search" id="query" size="10"/>
  </div>

<div>
</div>

</div>


<div class="navigation">
  <a class="navigation" href="#authors/author_{{.PrevAuthor.AuthorID }}.html"><div class="navbutton">前の作家</div></a>
  <a class="navigation" href="#authors/author_{{.NextAuthor.AuthorID }}.html"><div class="navbutton">次の作家</div></a>
  </div>

<div class="data">

	 <div class="dname">作家名:</div>
	 <div class="dtitle">
		<div class="yomi">{{$x.FullNameY}}</div>
		<div>{{ range $x.NameParts }}{{ . }}{{ end }}</div>
	</div>
	 
	 <div class="dname">生没年:</div>
	 <div class="notes">{{ $x.Dates }}</div>

</div>


 <h2>作品リスト</h2>
<div class="titlelist">
{{ range .Books }}
{{ $x := . }}
<a href="#books/book_{{.AuthorID}}_{{.BookID}}.html" class="titlelist">
 <div class="booklink">
  <div class="yomi">{{$x.TitleY}} {{.SubtitleY}}</div>
  <div>{{$x.Title}} {{.Subtitle}}</div>
 
  <span class="note">（{{ with $x.Kids }}児童書: {{ end }}{{ .Category }})</span><br />
  <span class="note">（{{$x.KanaZukai}}）</span>
 </div>
</a>
{{end}}
</div>
<p></p>
