{{/* index */}}
 <div class="sitenavigation">
 <div class="sitetitle">青空文庫ブラウザ</div>
<a href="#recent.html" class="navigation"><div class="sitenavbutton">新着１００冊</div></a>
 <a href="#random" class="navigation"><div class="sitenavbutton">ランダムな一冊</div></a>
<div class="searchbox"> 
   &#x1F50D;<input type="search" id="query" />
  </div>
</div>

<div>
<h2>作者一覧</h2>
<div class="navigation">
{{ range .SectionData}}
<a href="#index_{{.Char}}" class="navigation"><div class="navbutton">{{.Char}}</div></a>
{{ end }}
</div>


<div class="authorlist">

 {{ range .SectionData }}
 <div id = "index_{{.Char}}"></div>
 <h2 class="al-header">{{.Char}}</h2>
<div class="authorlistsection">
{{ range .List }}
<a href="#authors/author_{{.AuthorID}}.html">
<div class="authorlistbutton">
 <ruby>{{ .FullName }}<rt>{{ .FullNameY }}</rt></ruby>
</div>
</a>
{{end}}
</div>
{{ end}}
</div>
</div>
<p></p>


