:root {
  --mediumFont: 1rem;
  --smallFont: calc(var(--mediumFont) * 0.8);
  --xsmallFont: calc(var(--mediumFont) * 0.64);
  --xxsmallFont: calc(var(--mediumFont) * 0.5);
  --largeFont: calc(var(--mediumFont) * 1.25);
  --xlargeFont: calc(var(--mediumFont) * 1.56);
  --xxlargeFont: calc(var(--mediumFont) * 2);
  --mediumLH: 1.9;
  --narrowLH: 1.75;
  --wideLH: 2.1;
}

#pageWindow {
 /*text-align: justify;*/
 font-size: 1rem;
 line-height: 1.9;
}

p {
 margin: 0em;
padding: 0em;
/*line-height: 1.9;*/
}

ruby {
 ruby-align: space-around;
}

ruby.right {
 ruby-position: over;
}

ruby.left {
 ruby-position: under;
}

rt {
}

figure {
 writing-mode: horizontal-tb;
 display: flex;
 flex-direction: column;
 place-items: center;
 width: var(--viewerWidth);
 height: var(--viewerHeight); 
}

figcaption {
 font-size: var(--smallFont);
}

.metadata{
 line-height: 1.5;
 height: 100%;
}

.alignBottom {
 display: block;
 text-align: end;
}

.flushBottom{
 display: block;
 text-align: end;
}

.topMargin1 {
 margin-top: 1em;
}

.topMargin2 {
 margin-top: 2em;
}

.topMargin3 {
 margin-top: 3em;
}

.topMargin4 {
 margin-top: 4em;
}

.topMargin5 {
 margin-top: 5em;
}

.topMargin6 {
 margin-top: 6em;
}

.topMargin7 {
 margin-top: 7em;
}

.topMargin8 {
 margin-top: 8em;
}

.topMargin9 {
 margin-top: 9em;
}

.topMargin10 {
 margin-top: 10em;
}

.bottomMargin0 {
 margin-top: 1em;
}

.bottomMargin1 {
 margin-bottom: 1em;
}

.bottomMargin2 {
 margin-bottom: 2em;
}

.bottomMargin3 {
 margin-bottom: 3em;
}

.bottomMargin4 {
 margin-bottom: 4em;
}

.bottomMargin5 {
 margin-bottom: 5em;
}

.bottomMargin6 {
 margin-bottom: 6em;
}

.bottomMargin7 {
 margin-bottom: 7em;
}

.bottomMargin8 {
 margin-bottom: 8em;
}

.bottomMargin9 {
 margin-bottom: 9em;
}

.bottomMargin10 {
 margin-bottom: 10em;
}

.textIndent1 {
 text-indent: 1em;
}

.textIndent2 {
 text-indent: 2em;
}

.textIndent3 {
 text-indent: 3em;
}

.textIndent4 {
 text-indent: 4em;
}

.textIndent5 {
 text-indent: 5em;
}

.textIndent6 {
 text-indent: 6em;
}

.textIndent7 {
 text-indent: 7em;
}

.textIndent8 {
 text-indent: 8em;
}

.textIndent9 {
 text-indent: 9em;
}

.textIndent-1 {
 text-indent: -1em;
}

.textIndent-2 {
 text-indent: -2em;
}

.textIndent-3 {
 text-indent: -3em;
}

.textIndent-4 {
 text-indent: -4em;
}

.textIndent-5 {
 text-indent: -5em;
}

.textIndent-6 {
 text-indent: -6em;
}

.textIndent-7 {
 text-indent: -7em;
}

.textIndent-8 {
 text-indent: -8em;
}

.textIndent-9 {
 text-indent: -9em;
}

.inlineheader {
 display: inline;
}

.windowheader {
 display: inline;
}

.kunten {
 font-size: 0.64em; /*var(--xsmallFont);*/
}

.okurigana {
 font-size: 0.64em /*var(--xsmallFont);*/
}

.underline {
 text-decoration-line: underline;
}

.overline {
 text-decoration-line: overline;
}

.solid {
 text-decoration-style: solid;
}

.double {
 text-decoration-style: double;
}

.dotted {
 text-decoration-style: dotted;
}

.dashed {
 text-decoration-style: dashed;
}

.wavy {
 text-decoration-style: wavy;
}

.bold {
 font-weight: bold;
}

.italic {
 font-style: italic;
}

.italic {
 font-style: italic;
}

.illustration {
 width: calc(var(--viewerWidth) * 0.8);
 height: calc(var(--viewerHeight) * 0.8);
 object-fit: scale-down;
}

.inlineImage {
 width: 1.56em;
 object-fit: scale-down;
}

.warichu {
 display: inline-block;
 text-align: start;
 vertical-align: text-bottom; 
 line-height: 1.2;
 font-size: 0.5em; /*var(--xxsmallFont);*/
 width: auto;
}

/*For Mozilla's Gecko engine.
 */
@-moz-document url-prefix() {
 .warichu {
  vertical-align: middle;
 }
}

.horizontal {
 writing-mode: horizontal-tb;
 text-orientation: upright;
 line-height: 1.25em;
}

.sideways {
text-orientation: sideways;
}

.sectionLevel {
 font-weight: bold;
}

.subsectionLevel {
 font-weight: bold;
}

.subsubsectionLevel {
 font-weight: bold;
}

.superscript {
 font-size: 0.64em; /*var(--xsmallFont) */
}

.subscript {
 font-size: 0.64em; /*var(--xsmallFont);*/
}


.centering {
 display: grid;
 place-items: center;
 width: 100%;
 height: 100%;
}


.pageBreak {
/* break-before: always;*/
}

.emphRight {
 font-style: normal;
 text-emphasis-position: under right;
}

.emphLeft {
 font-style: normal;
 text-emphasis-position: over left;
}

.goma {
 text-emphasis-style: sesame;
}

.shirogoma {
 text-emphasis-style: open sesame;
}

.sankaku {
 text-emphasis-style: triangle;
}

.shirosankaku {
 text-emphasis-style: open triangle;
}

.maru {
 text-emphasis-style: circle;
}

.shiromaru {
 text-emphasis-style: open circle;
}

.nijuumaru {
 text-emphasis-style: open double-circle;
}

.janome {
 text-emphasis-style: double-circle;
}

.batsu {
 text-emphasis-style: '✕';
}

.framed {
 padding: 1em;
 border: solid;
}

.toc {
 list-style-type: none;
}

.section {
 font-size: 1.56em;
 font-weight: bold;
 list-style-type: none;
}

.subsection {
 font-size: 1.25em;
 font-weight: bold;
 list-style-type: none;
}

.subsubsection {
 font-size: 1em;
 font-weight: bold;
 list-style-type: none;
}

.annotation {
 font-size: 0.8em; /*var(--smallFont);*/
}

h1.title {
 font-size: 2em;
 margin-top: 1em;
}

h2.subtitle {
 font-size: 1.56em;
 margin-top: 2em;
}

h1.title + h2.subtitle {
 margin-right: 0.5em;
}

h2.contributor {
 font-size: 1.56em;
 text-align:  end;
}

h1.title + h2.contributor {
 margin-right: 2em;
}

h2.subtitle + h2.contributor {
 margin-right: 2em;
}

.small {
 font-size: 0.8em; /*var(--smallFont);*/
}

.x-small {
 font-size: 0.64em;
}

.xx-small {
 font-size: 0.5em;
}

.large {
 font-size: 1.25em;
}

.x-large {
 font-size: 1.56em;
}

.xx-large {
 font-size: 2em;
}

.xxx-large {
 font-size: 2.5em;
}

.vpSplit1 {
 text-align-last: justify;
}

.vpSplit2 {
 text-indent: 0;
}

ol {
 margin-left: 2rem;
 margin-bottom: 2rem;
 list-style-type: none;
}

li {
 text-align-last: start;
}

li::marker {
 content: none;
}

