

div.sitenavigation {
 display: grid;
 grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
 position: static;
 background-color: Blue;
 color: white;
 width: 100%;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
}

div.sitetitle {
 display: inline-block;
 font-size: 1.5em;
 margin-right: 2em;
 padding-top: 0.1em;
}

div.sitenavbutton {
 color: white;
 display: inline-block;
 padding-top: 0.7em;
}

div.sitenavbutton:hover {
 color: darkblue;
 background-color:white;
 cursor: pointer;
}

div.searchbox{
padding-top: 0.6em;
}

div.navigation {
 display: block;
 position: sticky;
 overflow: scroll;
 top: 0;
 background-color: lightgrey;
 width: 100%
}

div.navigationx{
 display: block;
 background-color: DarkSlateGray;
 color: white;
}

div.booknav{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
overflow-wrap: anywhere;
position: sticky;
top: 0;
background-color: lightgrey;
width: 100%;
padding-top: 0.5em;
padding-bottom: 0.5em;
}

div.navbutton {
 color: darkslategrey;
 background-color: lightgrey;
 display: inline-block;
}

div.navbutton:hover {
 color: white;
 background-color: darkslategrey;
 cursor: pointer;
}


div.authornavigation {
 display: block;
 position: sticky;
 overflow: scroll;
 top: 0;
 background-color: lightgrey;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 width: 100%
}
.authornavigation .navbutton{
 display: inline-block;
 padding: 0.1em 1em 0.1em 1em;
 text-align: center;
}

.authornavigation .navbutton:hover {
 display: inline-block;
 padding: 0.1em 1em 0.1em 1em;
 text-align: center;
 cursor: pointer;
}

div.navbuttonl {
 display: inline-block;
 padding: 0.1em 1em 0.1em 1em;
 text-align: center;
 font-weight: normal;
 color: lightgray;
}

div.navbuttonl:hover {
 display: inline-block;
 padding: 0.1em 1em 0.1em 1em;
 text-align: center;
 font-weight: normal;
 color: darkslategrey;
 background-color: lightgrey;
 cursor: pointer;
}

a.navigation {
 color: white;
 text-decoration: none;
}


div.data{
 display: grid;
 grid-template-columns: 2fr 6fr 2fr;
 row-gap:0.5em;
 column-gap: 1em;;
 padding-bottom: 1.5em;
 padding-top: 1.5em;
}

div.data > div.dname{
 justify-self: end;
 align-self: center;
}

div.data > div.dnamex{
 justify-self: end;
 align-self: center;
}

div.data > div.dtitle{
 justify-self:start;
 font-size: 1.5em;
}
div.data > div.dtitle > span.title{
 font-size: 1.0em;
}
div.data > div.dtitle > span.yomi{
 font-size: 0.6em;
}

div.data > div.notes{
 justify-self:start;
}

div.data > div.notesx{
 justify-self:start;}

div.titlelist{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-auto-rows: max-content;
 row-gap: 1em;
}
div.booklink{
 border-left: solid thick green;
 border-top: dotted thin green;
 padding: 0.4em;
 margin-right: 1em;
 overflow-wrap: anywhere;
}

div.booklink>span.title{
 font-size: 1.1em;
}
div.booklink>span.yomi{
 font-size: 0.8em;
}
div.booklink>span.note{
 font-size: 0.8em;
}

a.titlelist{
 text-decoration: none;
 color: black;
}

a.titlelist:hover{
 background-color: MintCream;
 cursor: pointer;
}


div.authorlistsection{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-auto-rows: max-content;
 overflow-wrap: anywhere;
 row-gap: 1em;
 column-gap: 2em;
}

div.authorlistbutton{
border-top: dotted;
border-width: thin;
padding: 0.4em;
}

div.authorlistbutton > span.rt{
font-size: 0.6em;
}

div.authorlistbutton > span.rb{
font-size: 1.1em;
}

div.authorlistbutton > span.note{
font-size: 0.4em;
}

div.authorlistsection >a {
text-decoration: none;
color: black;
}

div.authorlistsection >a:hover {
text-decoration: none;
background-color: MintCream;
 cursor: pointer;
}

div.downloadlinks{
 padding-top: 5em;
 display: grid;
 width: 50%;
 grid-template-columns: 2fr 6fr 2fr;
 column-gap: 2em;
 row-gap: 1em;
 justify-items: stretch;
 align-items: stretch;

}


div.downloadlinks> a{
 text-decoration: none;
 align-self:stretch;
}

div.downloadlinks>a:hover{
 text-decoration: none;
 cursor: pointer;
}

div.dlbutton {
text-align: center;
align-self:stretch;
border: double;
border-radius: 1em;
color: black;
background-color: lightgrey;
margin: 0;
padding: 0.5em 1em 0.5em 1em;
}

div.dlbutton:hover {
border: double;
border-radius: 1em;
background-color: darkslategray;
color: white;
 cursor: pointer;
}

div.dlbuttonx {
text-align: center;
align-self:stretch;
border: double;
border-radius: 1em;
color: black;
background-color: lightgrey;
margin: 0;
padding: 0.5em 1em 0.5em 1em;
}

div.dlbuttonx:hover {
border: double;
border-radius: 1em;
background-color: darkslategray;
color: white;
 cursor: pointer;
}

div.downloadlinks > div.note {
display: none;
}

div.searchForm {
 height: 80%;
 display: flex;
 align-items: center;
}

div.inputBox {
margin: 0;
text-align: center;
}


div.categorylist{
 display: block;
}
div.categorylink{
 border-left: solid thick green;
 border-top: dotted thin green;
 padding: 0.4em;
}

div.categorylink:hover{
 background-color: MintCream;
 cursor: pointer;
}
a.categorylist{
 text-decoration: none;
 color: black;
}

a.categorylist:hover{
 background-color: MintCream;
 cursor: pointer;
}
