span.notes {
display: none;
 }
div.title{
font-size: 2em;
margin-top: 4em;
}
div.subtitle{
font-size: 1.4em;
margin-top: 7em;
margin-right: 0.5em;
}
div.original_title{
font-size: 1.4em;
margin-top: 7em;
margin-right: 0.5em;
}
div.author{
font-size: 1.4em;
text-align: end;
}
div.translator{
font-size: 1.4em;
text-align: end;
}
div.metadata {
margin-left: 2em;
}
div.metadata div.title{
font-size: 2em;
margin-top: 4em;
}
div.metadata div.subtitle{
font-size: 1.4em;
margin-top: 7em;
margin-right: 0.5em;
}
div.metadata div.author{
font-size: 1.4em;
text-align: end;
}
div.metadata div.translator{
font-size: 1.4em;
text-align: end;
}
div.notation_notes {
display: none;
}
div.card {
display: none;
}
div#card {
display: none;
}
h3.o-midashi {
page-break-after: avoid;
font-size: 125%;
margin-top: 3em;
margin-left: 1em;
margin-right: 2em;
}
h4.naka-midashi {
page-break-after: avoid;
font-size: large;
margin-top: 2em;
margin-right: 1em;
 }
h5.ko-midashi {
page-break-after: avoid;
font-size: medium;
margin-top: 1.5em;
margin-right: 1em;}
div.titlepage {
}
span.underline_solid{
 text-decoration: underline solid;
}
span.underline_double{
 text-decoration: underline double;
}
span.underline_dotted{
 text-decoration: underline dotted;
}
span.underline_dashed{
 text-decoration: underline dashed;
}
span.underline_wavy{
 text-decoration: underline wavy;
}
span.overline_solid{
 text-decoration: overline solid;
}
span.overline_double{
 text-decoration: overline double;
}
span.overline_dotted{
 text-decoration: overline dotted;
}
span.overline_dashed{
 text-decoration: overline dashed;
}
span.overline_wavy{
 text-decoration: overline wavy;
}
ruby.left-boten{
 ruby-position: under;
}
p.kaiTyou{
 page-break-before: always;
}
p.kaiPeiji{
 page-break-before: always;
}
p.kaiMihiraki{
 page-break-before: always;
}
.image00001 {
height: 359px;
 width: 52px;
}
.image00002 {
height: 359px;
 width: 52px;
}
div, h1, h2 { line-height: 160%; }
ruby { line-height: 100%; }
rt { line-height: 50%; }
span.notes {font-size: smaller;}
img.gaiji { width: 1em; height: 1em; }
.gaiji_list {margin-left: 3em;}
.keigakomi {border: solid 1px;}
div.keigakomi{padding-top: 0.5em;
              padding-bottom: 0.5em;
              padding-right: 0.5em;
              padding-left: 1em;
			  margin-right: 1em;
			  margin-left: 1em;}
.futoji { font-weight: bold;}
.shatai { font-style: italic;}
.subscript { font-size: small; }
.superscript { font-size: small; }
.kaeriten { font-size: small; }
.okurigana { font-size: small; }
.dogyo-o-midashi { display:inline;}
.dogyo-naka-midashi { display:inline;}
.dogyo-ko-midashi { display:inline;}
.mado-o-midashi { display:inline;}
.mado-naka-midashi { display:inline;}
.mado-ko-midashi { display:inline;}
h3 { font-size: 125%;} 
h4 { font-size: large;}
h5 { font-size: medium;}
.caption { font-size: small; font-weight: bold;}
.complex_ruby rt.real_ruby:before { content: "i" }
.complex_ruby rt.real_ruby:after  { content: "j" }
.contents_invisible { display:none }
.contents_visible   { display:block; margin-left:3em; text-indent: -1em }
div.centered {width: 50%; margin: auto; }
a.midashi_anchor {text-decoration: none; }
span.kogaki {width: 1em; height: 1em; font-size: 0.7em; padding-left: 0.3em; padding-top: 0.1em}
